/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.f-b {
    font-weight: 700;
}

.f-sb {
    font-weight: 600;
}

.f-m {
    font-weight: 500;
}

.f-r {
    font-weight: 400;
}


* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* styles that have been used repeatedly */
/* self note: make sure these margins are executed and not overridden */
.m-center {
    margin: 0 auto;
}

.mt-50px {
    margin-top: 50px;
}

.mb-50px {
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

/* font colors according to figma */
.dark-01 {
    color: #131313;
}

.dark-02 {
    color: #424242;
}

.dark-03 {
    color: #727272;
}

.orange {
    color: #FF900E;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

/* styles for elements */
a {
    text-decoration: none;
}

header {
    height: fit-content;
    flex-direction: column;
    background-color: #ff8f0e1a;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 53px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 75px;
}

nav ul li:first-child {
    margin-left: 0px;
}

nav ul li a {
    font-size: 18px;
    line-height: 26px;
}

header div {
    flex-direction: column;
    align-items: center;
}

header div h2 {
    width: 44.5%;
    font-size: 64px;
    margin: 100px 0 0 0;
}

header div p {
    width: 45.20%;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 0 0;
}

.button {
    height: 64px;
    width: 180px;
    background-color: #FF900E;
    line-height: 64px;
    border-radius: 8px;
    color: #fff;
}

.banner-image img {
    max-width: 1440px;
    width: 100%;
}

/* main section */


.feature-img {
    display: grid;
}



main div {
    max-width: 1318px;
    align-items: center;
}



.feature-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-height: 708px;
    max-width: 708px;
    margin-left: 0;

}

.feature-img img {
    max-height: 342px;
    max-width: 342px;
}

.feature {
    max-width: 537px;
    flex-direction: column;
    margin-left: 4%;
}

.feature h4 {
    margin-bottom: 0;
    padding: 0;
    font-size: 45px;
}

.feature p {
    margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
}

.feature .button {
    align-self: flex-start;
}

/* 
.feature-title {
    grid-area: feature-title;
}

.feature-title-text {
    grid-area: feature-title-text;
}

.feature {
    grid-area: feature;
}

.features-img {
    grid-area: features-img;

}

.facts {
    grid-area: facts;
}

.badge {
    grid-area: badge;
} */



/* media queries */

@media screen and (max-width: 575.98px) {

    /* nav section */
    h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        margin-top: 50px;
        flex-direction: column;
    }

    nav ul li:first-child {
        margin-top: 0px;
    }

    nav ul li {
        margin: 30px 0 0 0;
        text-align: center;
    }

    nav ul li a {
        font-size: 25px;
    }

    /* banner section */

    div h2 {
        font-size: 50px;
        width: 70.5%;
    }

    header div p {
        width: 85.20%;
    }

    .banner-image img {
        width: 96%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    /* feature image section */

    main div {
        flex-direction: column;
    }

    .feature-img {
        grid-template-columns: repeat(1, 1fr);
        max-height: 1500px;
    }

}