/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

.f-b {
    font-weight: 700;
}

.f-sb {
    font-weight: 600;
}

.f-m {
    font-weight: 500;
}

.f-r {
    font-weight: 400;
}


* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/* styles that have been used repeatedly */
/* self note: make sure these margins are executed and not overridden */
.m-center {
    margin: 0 auto;
}

.mt-50px {
    margin-top: 50px;
}

.flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

/* styles for elements */
a {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 53px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 75px;
}

nav ul li:first-child {
    margin-left: 0px;
}

nav ul li a {
    font-size: 18px;
    line-height: 26px;
}

/* media queries */

@media screen and (max-width: 575.98px) {
    h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 50px;
        flex-direction: column;
    }

    nav ul li:first-child {
        margin-top: 0px;
    }

    nav ul li {
        margin: 30px 0 0 0;
        text-align: center;
    }

}